.service-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    .carousel {
        width: 91vw;
        height: 19rem;
        cursor: grab;
        overflow: hidden;
        .inner-carousel {
            display: flex;
            gap: 1.2rem;
        };
    };
}

@media (min-width: 768px) and (max-width: 1023px) {
    .service-carousel .carousel {
        width: 71vw;
        height: 25rem;
        .inner-carousel {
            gap: 1.5rem;
        };
    };
};

@media (min-width: 1024px) and (max-width: 1439px) {
    .service-carousel .carousel {
        width: 61vw;
        height: 20rem;
        .inner-carousel {
            gap: 1.5rem;
        };
    };
};

@media (min-width: 1440px) {
    .service-carousel .carousel {
        width: 100%;
        max-width: 55vw;
        height: 20rem;
        .inner-carousel {
            gap: 1.5rem;
        };
    };
};