#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    height: 320px;
    background-image: url('../../assets/backgrounds/Backg1.png');
    .footer-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem 0;
        .items-address {
            display: flex;
            flex-direction: column;
            align-items: center;
            h6 {
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
                border-bottom: solid 0.1rem #000000;
            }
            p {
                font-size: 0.8rem;
                max-width: 280px;
                font-weight: 300;
                text-align: center;
                margin: 0.2rem 0;
            }
        }
        .items-contact-hour {
            .hour {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0.5rem 0;
                h6 {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 0.5rem;
                    border-bottom: solid 0.1rem #000000;
                }
                p {
                    font-size: 0.8rem;
                    font-weight: 300;
                    margin-bottom: 0.2rem;
                }
            }
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0.5rem 0;
                h6 {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 0.5rem;
                    border-bottom: solid 0.1rem #000000;
                }
                a {
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: #000000;
                    text-decoration: none;

                }
            }
        }
        .items-social {
            display: none;
        }
    }
    .footer-dev {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem 0;
        p {
            font-size: 0.8rem;
            font-weight: 300;
            margin-bottom: 0.2rem;
        }
        h6 {
            font-size: 0.7rem;
            font-weight: 300;
            a {
                color: #000000;
                text-decoration: none;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7rem;
        height: 400px;
        background-image: url('../../assets/backgrounds/Backg1.png');
        .footer-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5rem 0;
            .items-address {
                display: flex;
                flex-direction: column;
                align-items: center;
                h6 {
                    font-size: 1.5rem;
                    font-weight: 300;
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: 1.2rem;
                    max-width: 380px;
                    font-weight: 300;
                    text-align: center;
                    margin: 0.2rem 0;
                }
            }
            .items-contact-hour {
                .hour {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0.5rem 0;
                    h6 {
                        font-size: 1.5rem;
                        font-weight: 300;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin-bottom: 0.2rem;
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0.5rem 0;
                    h6 {
                        font-weight: 300;
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                    }
                    a {
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: #000000;
    
                    }
                }
            }
            .items-social {
                display: none;
            }
        }
        .footer-dev {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5rem 0;
            p {
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }
            h6 {
                font-size: 1.1rem;
                font-weight: 300;
                a {
                    color: #000000;
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        height: 250px;
        background-image: url('../../assets/backgrounds/Backg1.png');
        .footer-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            align-items: center;
            margin: 0.5rem 0;
            .items-address {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h6 {
                    font-size: 1rem;
                    font-weight: 300;
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: 0.8rem;
                    max-width: 280px;
                    font-weight: 300;
                    text-align: left;
                    margin: 0.2rem 0;
                }
            }
            .items-contact-hour {
                .hour {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    h6 {
                        font-size: 1rem;
                        font-weight: 300;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 0.8rem;
                        font-weight: 300;
                        margin-bottom: 0.2rem;
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    h6 {
                        font-weight: 300;
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                    a {
                        font-size: 0.8rem;
                        font-weight: 300;
                        color: #000000;
    
                    }
                }
            }
            .items-social {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 6rem;
                h6 {
                    font-weight: 300;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }
                a {
                    font-size: 1rem;
                    font-weight: 300;
                    color: #000000;

                }
            }
        }
        .footer-dev {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0 0 0;
            p {
                font-size: 0.8rem;
                font-weight: 300;
                margin-bottom: 0.2rem;
            }
            h6 {
                font-size: 0.7rem;
                font-weight: 300;
                a {
                    color: #000000;
                }
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        height: 250px;
        background-image: url('../../assets/backgrounds/Backg1.png');
        .footer-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            align-items: center;
            margin: 0.5rem 0;
            .items-address {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h6 {
                    font-size: 1.2rem;
                    font-weight: 300;
                    margin-bottom: 0.5rem;
                }
                p {
                    font-size: 1rem;
                    max-width: 280px;
                    font-weight: 300;
                    text-align: left;
                    margin: 0.2rem 0;
                }
            }
            .items-contact-hour {
                .hour {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    h6 {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin-bottom: 0.5rem;
                    }
                    p {
                        font-size: 1rem;
                        font-weight: 300;
                        margin-bottom: 0.2rem;
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    h6 {
                        font-weight: 300;
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                    }
                    a {
                        font-size: 1rem;
                        font-weight: 300;
                        color: #000000;
    
                    }
                }
            }
            .items-social {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 6rem;
                h6 {
                    font-weight: 300;
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }
                a {
                    font-size: 1.2rem;
                    font-weight: 300;
                    color: #000000;

                }
            }
        }
        .footer-dev {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0 0 0;
            p {
                font-size: 1rem;
                font-weight: 300;
                margin-bottom: 0.2rem;
            }
            h6 {
                font-size: 1rem;
                font-weight: 300;
                a {
                    color: #000000;
                }
            }
        }
    }
}
@media (min-width: 1441px) {
    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        height: 450px;
        background-image: url('../../assets/backgrounds/Backg1.png');
        .footer-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            align-items: center;
            margin: 0.5rem 0;
            .items-address {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h6 {
                    font-size: 2.2rem;
                    font-weight: 300;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1.8rem;
                    max-width: 580px;
                    font-weight: 300;
                    text-align: left;
                    margin: 0.5rem 0;
                }
            }
            .items-contact-hour {
                .hour {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    h6 {
                        font-size: 2.2rem;
                        font-weight: 300;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 1.8rem;
                        font-weight: 300;
                        margin-bottom: 1rem;
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0.5rem 0;
                    h6 {
                        font-weight: 300;
                        font-size: 2.2rem;
                        margin-bottom: 1rem;
                    }
                    a {
                        font-size: 1.8rem;
                        font-weight: 300;
                        color: #000000;
    
                    }
                }
            }
            .items-social {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 12rem;
                h6 {
                    font-weight: 300;
                    font-size: 2.2rem;
                    margin-bottom: 0.5rem;
                }
                a {
                    font-size: 1.8rem;
                    font-weight: 300;
                    color: #000000;

                }
            }
        }
        .footer-dev {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4rem 0 0 0;
            p {
                font-size: 1.8rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }
            h6 {
                font-size: 1.8rem;
                font-weight: 300;
                a {
                    color: #000000;
                    text-decoration: underline;
                }
            }
        }
    }
}