#services-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    margin-bottom: 4rem;
};

@media (min-width: 768px) {
    #services-page {
        margin-bottom: 10rem;
    };
};