#services {
    background-image: url('../../assets/backgrounds/Backg1.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 880px;
    width: 100%;
    h3 {
        color: #000000;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .items {
        display: grid;
        align-content: center;
        justify-items: center;
        width: 250px;
        grid-template-areas: "corte corte"
                            "escova coloracao"
                            "unhas selagem"
                            "mechas botox"
                            "tratamentos tratamentos";
        .containerCorte {
            grid-area: corte;
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0.5rem 0;
            .corte {
                background-image: url("../../assets/backgrounds/Beckg2.png");
                border-radius: 20px;
                height: 80px;
                width: 90px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0.5rem;
                }
                p {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-weight: 300;
                    margin: 0;
                }
            }
        }
        .escova {
            grid-area: escova;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 80px;
            width: 90px;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
                height: 30px;
                margin: 0.5rem;
            }
            p {
                margin: 0;
                color: #ffffff;
                font-size: 0.8rem;
                font-weight: 300;
            }
            
        }
        .coloracao {
            grid-area: coloracao;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 80px;
            width: 90px;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
                height: 30px;
                margin: 0.5rem;
            }
            p {
                margin: 0;
                color: #ffffff;
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
        .unhas {
            grid-area: unhas;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 80px;
            width: 90px;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
                height: 30px;
                margin: 0.5rem;
            }
            p {
                margin: 0;
                color: #ffffff;
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
        .selagem {
            grid-area: selagem;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 80px;
            width: 90px;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
                height: 30px;
                margin: 0.5rem;
            }
            p {
                margin: 0;
                color: #ffffff;
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
        .mechas {
            grid-area: mechas;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 80px;
            width: 90px;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 45px;
                height: 30px;
                margin: 0.5rem;
                color: aqua;
            }
            p {
                margin: 0;
                color: #ffffff;
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
        .botox {
            grid-area: botox;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 80px;
            width: 90px;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
                height: 30px;
                margin: 0.5rem;
            }
            p {
                margin: 0;
                font-size: 0.74rem;
                color: #ffffff;
                font-weight: 300;
            }
        }
        .tratamentos {
            grid-area: tratamentos;
            display: grid;
            justify-items: center;
            margin: 0.5rem 0;
            background-image: url("../../assets/backgrounds/Beckg2.png");
            border-radius: 20px;
            height: 240px;
            width: 220px;
            grid-template-areas: "title title"
                            "nutricao cauterizacao"
                            "hidratacao reconstrucao";
            .tratamentosTitle {
                grid-area: title;
                text-align: center;
                height: 60px;
                h3 {
                    color: #ffffff;
                    font-size: 1.5rem;
                    font-weight: 300;
                    margin-top: 1rem;
                }
            }
            .nutricao {
                grid-area: nutricao;
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0.2rem;
                }
                p {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
            .cauterizacao {
                grid-area: cauterizacao;
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0.2rem;
                }
                p {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
            .hidratacao {
                grid-area: hidratacao;
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0.2rem;
                }
                p {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
            .reconstrucao {
                grid-area: reconstrucao;
                height: 80px;
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin: 0.2rem;
                }
                p {
                    color: #ffffff;
                    font-size: 0.8rem;
                    font-weight: 300;
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1000px;
        width: 100%;
        h3 {
            color: #000000;
            font-size: 1.6rem;
            font-weight: 300;
            margin-top: 3rem;
            margin-bottom: 9rem;
        } 
        .items {
            display: grid;
            align-content: center;
            justify-items: center;
            justify-content: center;
            grid-template-areas: "corte corte corte "
                                "selagem mechas botox"
                                "escova coloracao unhas"
                                "tratamentos tratamentos tratamentos";
            .containerCorte {
                grid-area: corte;
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0.5rem 0;
                .corte {
                    height: 90px;
                    width: 100px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
            .escova {
                height: 90px;
                width: 100px;
                img {
                    width: 35px;
                    height: 35px;
                }
                p {
                    font-size: 1rem;
                }
                
            }
            .coloracao {
                height: 90px;
                width: 100px;
                img {
                    width: 35px;
                    height: 35px;
                }
                p {
                    font-size: 1rem;
                }
            }
            .unhas {
                height: 90px;
                width: 100px;
                img {
                    width: 35px;
                    height: 35px;
                }
                p {
                    font-size: 1rem;
                }
            }
            .selagem {
                height: 90px;
                width: 100px;
                img {
                    width: 35px;
                    height: 35px;
                }
                p {
                    font-size: 1rem;
                }
            }
            .mechas {
                height: 90px;
                width: 100px;
                img {
                    width: 50px;
                    height: 35px;
                }
                p {
                    font-size: 1rem;
                }
            }
            .botox {
                height: 90px;
                width: 100px;
                img {
                    width: 35px;
                    height: 35px;
                }
                p {
                    font-size: 0.8rem;
                }
            }
            .tratamentos {
                height: 300px;
                width: 340px;
                justify-items: center;
                grid-template-areas: "title title"
                                "nutricao cauterizacao"
                                "hidratacao reconstrucao";
                .tratamentosTitle {
                    grid-area: title;
                    text-align: center;
                    height: 60px;
                    h3 {
                        color: #ffffff;
                        font-size: 2rem;
                        font-weight: 300;
                    }
                }
                .nutricao {
                    height: 90px;
                    width: 100px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                .cauterizacao {
                    height: 90px;
                    width: 100px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                .hidratacao {
                    height: 90px;
                    width: 100px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
                .reconstrucao {
                    height: 90px;
                    width: 100px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1400px;
        width: 100%;
        h3 {
            color: #000000;
            font-size: 3rem;
            font-weight: 300;
            margin-top: 3rem;
            margin-bottom: 9rem;
        } 
        .items {
            display: grid;
            align-content: center;
            justify-items: center;
            justify-content: center;
            grid-template-areas: "corte corte corte "
                                "selagem mechas botox"
                                "escova coloracao unhas"
                                "tratamentos tratamentos tratamentos";
            .containerCorte {
                grid-area: corte;
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0.5rem 0;
                .corte {
                    height: 150px;
                    width: 180px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
            .escova {
                height: 150px;
                width: 180px;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
                
            }
            .coloracao {
                height: 150px;
                width: 180px;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .unhas {
                height: 150px;
                width: 180px;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .selagem {
                height: 150px;
                width: 180px;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .mechas {
                height: 150px;
                width: 180px;
                img {
                    width: 70px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .botox {
                height: 150px;
                width: 180px;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.6rem;
                }
            }
            .tratamentos {
                height: 440px;
                width: 570px;
                justify-items: center;
                grid-template-areas: "title title"
                                "nutricao cauterizacao"
                                "hidratacao reconstrucao";
                .tratamentosTitle {
                    grid-area: title;
                    text-align: center;
                    height: 60px;
                    h3 {
                        color: #ffffff;
                        font-size: 2rem;
                        font-weight: 300;
                    }
                }
                .nutricao {
                    height: 150px;
                    width: 180px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
                .cauterizacao {
                    height: 150px;
                    width: 180px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
                .hidratacao {
                    height: 150px;
                    width: 180px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
                .reconstrucao {
                    height: 150px;
                    width: 180px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    #services h3 {
        margin-top: 7rem;
        margin-bottom: 5rem;
    }
}
@media (min-width: 1440px) {
    #services{
        justify-content: center;
        h3 {
            margin-top: 0;
        }
    }
}
@media (min-width: 1920px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1440px;
        width: 100%;
        h3 {
            color: #000000;
            font-size: 3rem;
            font-weight: 300;
            margin-top: 3rem;
            margin-bottom: 9rem;
        } 
        .items {
            display: grid;
            align-content: center;
            justify-items: center;
            justify-content: center;
            grid-template-areas: "corte corte corte "
                                "selagem mechas botox"
                                "escova coloracao unhas"
                                "tratamentos tratamentos tratamentos";
            .containerCorte {
                grid-area: corte;
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0.5rem 0;
                .corte {
                    height: 150px;
                    width: 180px;
                    font-size: 1.8rem;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
            .escova {
                height: 150px;
                width: 180px;
                font-size: 1.8rem;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
                
            }
            .coloracao {
                height: 150px;
                width: 180px;
                font-size: 1.8rem;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .unhas {
                height: 150px;
                width: 180px;
                font-size: 1.8rem;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .selagem {
                height: 150px;
                width: 180px;
                font-size: 1.8rem;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .mechas {
                height: 150px;
                width: 180px;
                img {
                    width: 70px;
                    height: 50px;
                }
                p {
                    font-size: 1.8rem;
                }
            }
            .botox {
                height: 150px;
                width: 180px;
                img {
                    width: 50px;
                    height: 50px;
                }
                p {
                    font-size: 1.7rem;
                }
            }
            .tratamentos {
                height: 440px;
                width: 570px;
                justify-items: center;
                grid-template-areas: "title title"
                                "nutricao cauterizacao"
                                "hidratacao reconstrucao";
                .tratamentosTitle {
                    grid-area: title;
                    text-align: center;
                    height: 60px;
                    h3 {
                        color: #ffffff;
                        font-size: 2rem;
                        font-weight: 300;
                    }
                }
                .nutricao {
                    height: 150px;
                    width: 180px;
                    font-size: 1.6rem;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
                .cauterizacao {
                    height: 150px;
                    width: 180px;
                    font-size: 1.6rem;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
                .hidratacao {
                    height: 150px;
                    width: 180px;
                    font-size: 1.6rem;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
                .reconstrucao {
                    height: 150px;
                    width: 180px;
                    font-size: 1.6rem;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}