#services {
    background-image: url('../../assets/backgrounds/Backg1.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1250px;
    width: 100%;
    h3 {
        color: #000000;
        text-shadow: 1px 1px 1px #cacaca;
        font-size: 1.777rem;
        font-weight: 300;
        margin-top: 8rem;
        margin-bottom: 5rem;
    }
    .services-list-one {
        width: 272px;
        height: 460px;
        background-color: #ffffff70;
        box-shadow: 1px 1px 6px #555555;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li {
            width: 230px;
            list-style: none;
            margin: 1rem 0;
            a {
                border-bottom: solid 0.1rem #CACACA;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p {
                    font-size: 1rem;
                    font-weight: 300;
                    color: #000000;
                    margin-left: 1rem;
                }
                .link-icon {
                    margin-right: 1rem;
                    color: #CACACA;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .services-list-two {
        width: 272px;
        height: 360px;
        background-color: #ffffff70;
        box-shadow: 1px 1px 6px #555555;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        h4 {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 2rem;
        }
        li {
            width: 230px;
            list-style: none;
            margin: 1rem 0;
            a {
                border-bottom: solid 0.1rem #CACACA;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p {
                    font-size: 1rem;
                    font-weight: 300;
                    color: #000000;
                    margin-left: 1rem;
                }
                .link-icon {
                    margin-right: 1rem;
                    color: #CACACA;
                    font-size: 0.8rem;
                }
            }
        }
    }
    .services-direction  {
        margin-top: 3rem;
        max-width: 272px;
        font-size: 0.9rem;
        font-weight: 300;
        text-align: center;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1700px;
        width: 100%;
        h3 {
            color: #000000;
            text-shadow: 1px 1px 1px #cacaca;
            font-size: 2.369rem;
            font-weight: 300;
            margin-top: 14rem;
            margin-bottom: 5rem;
        }
        .services-list-one {
            width: 378px;
            height: 580px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                width: 320px;
                list-style: none;
                margin: 1.2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 1.5rem;
                    }
                    .link-icon {
                        margin-right: 1.5rem;
                        color: #CACACA;
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .services-list-two {
            width: 378px;
            height: 480px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;
            h4 {
                font-size: 1.777rem;
                font-weight: 300;
                margin-bottom: 3rem;
            }
            li {
                width: 320px;
                list-style: none;
                margin: 1.2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 1.5rem;
                    }
                    .link-icon {
                        margin-right: 1.5rem;
                        color: #CACACA;
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .services-direction  {
            margin-top: 5rem;
            max-width: 400px;
            font-size: 1.222rem;
            font-weight: 300;
            text-align: center;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2200px;
        width: 100%;
        h3 {
            color: #000000;
            text-shadow: 1px 1px 1px #cacaca;
            font-size: 2.369rem;
            font-weight: 300;
            margin: 12rem 0 6rem 0;
        }
        .services-list-one {
            width: 512px;
            height: 860px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                width: 420px;
                list-style: none;
                margin: 2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 1.5rem;
                    }
                    .link-icon {
                        margin-right: 1.5rem;
                        color: #CACACA;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .services-list-two {
            width: 512px;
            height: 680px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
            h4 {
                font-size: 1.777rem;
                font-weight: 300;
                margin-bottom: 5rem;
            }
            li {
                width: 420px;
                list-style: none;
                margin: 2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 1.5rem;
                    }
                    .link-icon {
                        margin-right: 1rem;
                        color: #CACACA;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .services-direction  {
            margin-top: 5rem;
            max-width: 400px;
            font-size: 1.333rem;
            font-weight: 300;
            text-align: center;
        }
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2200px;
        width: 100%;
        h3 {
            color: #000000;
            text-shadow: 1px 1px 1px #cacaca;
            font-size: 2.369rem;
            font-weight: 300;
            margin: 12rem 0 6rem 0;
        }
        .services-list-one {
            width: 512px;
            height: 860px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                width: 420px;
                list-style: none;
                margin: 2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 1.5rem;
                    }
                    .link-icon {
                        margin-right: 1.5rem;
                        color: #CACACA;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .services-list-two {
            width: 512px;
            height: 680px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
            h4 {
                font-size: 1.777rem;
                font-weight: 300;
                margin-bottom: 5rem;
            }
            li {
                width: 420px;
                list-style: none;
                margin: 2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 1.5rem;
                    }
                    .link-icon {
                        margin-right: 1rem;
                        color: #CACACA;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .services-direction  {
            margin-top: 6rem;
            max-width: 400px;
            font-size: 1.333rem;
            font-weight: 300;
            text-align: center;
        }
    }
}
@media (min-width: 1441px) {
    #services {
        background-image: url('../../assets/backgrounds/Backg1.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2300px;
        width: 100%;
        h3 {
            color: #000000;
            text-shadow: 1px 1px 1px #cacaca;
            font-size: 3.157rem;
            font-weight: 300;
            margin: 12rem 0 6rem 0;
        }
        .services-list-one {
            width: 600px;
            height: 860px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                width: 520px;
                list-style: none;
                margin: 2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.777rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 2rem;
                    }
                    .link-icon {
                        margin-right: 2rem;
                        color: #CACACA;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .services-list-two {
            width: 600px;
            height: 680px;
            background-color: #ffffff70;
            box-shadow: 1px 1px 6px #555555;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
            h4 {
                font-size: 2.369rem;
                font-weight: 300;
                margin-bottom: 5rem;
            }
            li {
                width: 520px;
                list-style: none;
                margin: 2rem 0;
                a {
                    border-bottom: solid 0.1rem #CACACA;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    p {
                        font-size: 1.777rem;
                        font-weight: 300;
                        color: #000000;
                        margin-left: 2rem;
                    }
                    .link-icon {
                        margin-right: 2rem;
                        color: #CACACA;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .services-direction  {
            margin-top: 6rem;
            max-width: 520px;
            font-size: 1.777rem;
            font-weight: 300;
            text-align: center;
        }
    }
}