#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/backgrounds/Beckg2.png');
    height: 900px;
    h3 {
        color: #eeeeee;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .pbutton {
        color: #ffffff;
        padding: 0.2rem;
        font-size: 0.8rem;
        font-weight: 300;
        margin: 2rem 0 0.5rem 0;
    }
    button {
        background-color: transparent;
        border-radius: 20px;
        border: solid 0.1rem #ffffff;
        height: 1.8rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: #ffffff;
            font-size: 0.6rem;
            text-decoration: none;
        }
    }
    button:hover {
        background-color: #ffffff;
        a {
            color: #000000;
        }
    }
    .elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .photo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 100px;
                border: solid 0.1rem #ffffff;
                border-radius: 50%;
                margin-top: 5rem;
            }
            .rv {
                margin: 1rem 0 0 0;
                font-size: 0.9rem;
            }
            p {
                color: #ffffff;
                margin-bottom: 2rem;
                font-size: 0.8rem;
                font-weight: lighter;
            }
        }
        .text {
            h2 {
                display: none;
            }
            p {
                color: #ffffff;
                text-align: center;
                font-weight: 300;
                font-size: 1rem;
                padding: 0 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/backgrounds/Beckg2.png');
        height: 1200px;
        h3 {
            color: #eeeeee;
            font-size: 1.6rem;
            margin-top: 3rem;
            margin-bottom: 0;
        }
        .elements {
            .photo {
                img {
                    width: 130px;
                    margin-top: 6rem;
                }
                .rv {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1rem;
                }
            }
            .text p {
                font-size: 1.5rem;
                width: 460px;
            }
        }
        .pbutton {
            font-size: 1.2rem;
        }
        button a {
            font-size: 0.8rem;
        }
    }
}
@media (min-width: 768px) {
    #about {
        height: 1350px;
        h3 {
            color: #eeeeee;
            font-size: 3rem;
            font-weight: 300;
            margin-top: 3rem;
        } 
        .pbutton {
            color: #ffffff;
            padding: 0.2rem;
            font-size: 1.4rem;
            font-weight: 300;
            margin-top: 1rem;
        }
        button {
            background-color: transparent;
            border-radius: 20px;
            border: solid 0.1rem #ffffff;
            height: 2.5rem;
            width: 6rem;
            a {
                color: #ffffff;
                font-size: 0.9rem;
                text-decoration: none;
            }
        }
        .elements .photo {
            img {
                width: 200px;
                border: solid 0.1rem #ffffff;
                border-radius: 50%;
                margin-top: 8rem;
            }
            .rv {
                margin-top: 2rem;
                font-size: 1.7rem;
            }
            p {
                padding: 0;
                margin-bottom: 4rem;
                margin-top: 0;
                font-size: 1.6rem;
            }
        }
        .elements .text p {
            width: 650px;
            font-size: 1.8rem;
            padding: 0 1rem;
            margin-bottom: 1rem;
        }
    }
}
@media (min-width: 1024px) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/backgrounds/Beckg2.png');
        height: 1000px;
        h3 {
            color: #eeeeee;
            font-size: 3rem;
            font-weight: 300;
            margin: 5rem 0 0 0;
        } 
        p {
            color: #ffffff;
            padding: 0.5rem;
            font-size: 1.2rem;
            font-weight: 300;
            margin: 0;
        }
        button {
            width: 7rem;
            background-color: transparent;
            border-radius: 20px;
            border: solid 0.1rem #ffffff;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            a {
                color: #ffffff;
                font-size: 0.9rem;
                text-decoration: none;
            }
        }
        button:hover {
            background-color: #ffffff;
            a {
                color: #000000;
            }
        }
        .elements {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 700px;
            
            .photo {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-right: 2rem;
                width: 18rem;
                height: 28rem;
                border: solid 0.1rem #00000067;
                background-color: #00000010;
                border-radius: 20px;
                img {
                    border: none;
                    border-radius: 10px;
                    width: 15rem;
                    margin: 2rem 0 0 0;
                }
                .rv {
                    font-size: 1.2rem;
                    margin: 1rem 0 0 0;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    text-align: center;
                    text-shadow: 1px 1px 5px #000000;
                    color: #ffffff;
                    width: 300px;

                }
            }
            .text {
                h2 {
                    display: block;
                    text-align: center;
                    color: #ffffff;
                    font-size: 2rem;
                    font-weight: 400;
                    margin: 3rem 0;
                }
                p {
                    width: 600px;
                    color: #ffffff;
                    font-weight: 300;
                    font-size: 1.5rem;
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
}
@media (min-width: 1440px) {
    #about {
        height: 1100px;
        h3 {
            margin-top: 4rem;
        } 
        p {
            font-size: 1.2rem;
        }
        button {
            width: 7rem;
            a {
                font-size: 0.9rem;
            }
        }

        .elements .photo {
            margin-right: 8rem;
        }
    }
}
@media (min-width: 2560px) {
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../../assets/backgrounds/Beckg2.png');
        height: 1440px;
        h3 {
            color: #eeeeee;
            font-size: 3rem;
            font-weight: 300;
            margin: 0 0 5rem 0;
        } 
        .pbutton {
            color: #ffffff;
            padding: 0.5rem;
            font-size: 2rem;
            font-weight: 300;
            margin-top: 10rem;
        }
        button {
            width: 10rem;
            height: 3rem;
            background-color: transparent;
            border-radius: 20px;
            border: solid 0.1rem #ffffff;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            a {
                color: #ffffff;
                font-size: 1.2rem;
                text-decoration: none;
            }
        }
        button:hover {
            background-color: #ffffff;
            a {
                color: #000000;
            }
        }
        .elements {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 700px;
            
            .photo {
                margin-right: 10rem;
                width: 26rem;
                height: 40rem;
                img {
                    border: none;
                    border-radius: 10px;
                    width: 21rem;
                    margin: 2rem 0 0 0;
                }
                .rv {
                    font-size: 1.8rem;
                    margin: 1rem 0 0 0;
                    width: 360px;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 1.5rem;
                    text-align: center;
                    text-shadow: 1px 1px 5px #000000;
                    color: #ffffff;
                    width: 300px;

                }
            }
            .text {
                h2 {
                    display: block;
                    text-align: center;
                    color: #ffffff;
                    font-size: 2.5rem;
                    font-weight: 400;
                    margin: 3rem 0;
                }
                p {
                    width: 800px;
                    color: #ffffff;
                    font-weight: 300;
                    font-size: 2rem;
                    margin: 0 0 1rem 0;
                }
            }
        }
    }
}
