@import "../../styles/global.scss";

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    .bendita-beleza-cabeleireira-logo {
        filter: invert(100%);
        width: 180px;
        margin: 2rem 0 3rem 0;
        z-index: 0;
    }
}

@media (min-width: 321px) and (max-width: 767px){
    #home-page .bendita-beleza-cabeleireira-logo {
        width: 200px;
        margin: 2rem 0 3rem 0;
    }
}

@media (min-width: 768px) {
    #home-page .bendita-beleza-cabeleireira-logo {
        width: 22rem;
        margin: 4rem 0 5rem 0;
    }
}