@import "../../styles/global.scss";

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 4rem 0;
    gap: 2rem
};

@media (min-width: 321px) and (max-width: 767px) {
    #home-page {
        padding: 6rem 0 3rem 0;
        gap: 3rem
    };
}

@media (min-width: 768px) {
    #home-page {
        padding: 10rem 0 6rem;
        gap: 3rem
    };
};