#beforeAfter {
    background-image: url('../../assets/backgrounds/Beckg2.png');
    height: 2100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
        font-size: 1.777rem;
        font-weight: 300;
        margin: 8rem 0 5rem 0;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #beforeAfter {
        height: 3400px;
        background-repeat: round;
        h3 {
            font-size: 2.369rem;
            margin: 14rem 0 5rem 0;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #beforeAfter {
        height: 1650px;
        h3 {
            color: #eeeeee;
            font-size: 2.369rem;
            font-weight: 300;
            margin: 12rem 0 6rem 0;
        } 
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #beforeAfter {
        height: 1650px;
        h3 {
            color: #eeeeee;
            font-size: 2.369rem;
            font-weight: 300;
            margin: 12rem 0 6rem 0;
        } 
    }
}
@media (min-width: 1441px) {
    #beforeAfter {
        height: 2450px;
        h3 {
            color: #eeeeee;
            font-size: 3.157rem;
            font-weight: 300;
            margin: 12rem 0 6rem 0;
        } 
    }
}
