#contact {
    background-image: url('../../assets/backgrounds/Beckg2.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    .image .icons {
        display: flex;
        justify-content: center;
        a {
            color: #ffffff;
            font-size: 1.3rem;
            padding: 0 0.3rem;
        }
    }
    .whatsapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text {
            display: none;
        }
        p {
            color: #ffffff;
            margin: 0.5rem;
            font-size: 1.1rem;
            font-weight: 300;
            width: 160px;
            text-align: center;
        }
        button {
            border: solid 0.1rem #ffffff;
            background-color: transparent;
            border-radius: 20px;
            width: 5rem;
            height: 1.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: #ffffff;
                font-size: 0.7rem;
                text-decoration: none;
            }
        }
        button:hover {
            background-color: #ffffff;
            a {
                color: #424040;
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footerContainer {
            display: none;
        }
        .dev {
            h6 {
                color: #ffffff;
                font-size: 0.7rem;
                font-weight: 300;
                a {
                    color: #ffffff;
                    font-size: 0.7rem;
                    font-weight: 300;
                }
            }
            p {
                margin: 0;
                font-size: 0.7rem;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #contact {
        background-image: url('../../assets/backgrounds/Beckg2.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
        .image {
            img {
                width: 400px;
            }
            .icons {
                display: flex;
                justify-content: center;
                a {
                    color: #ffffff;
                    padding: 0 0.3rem;
                }
            }
        }
        .whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text {
                display: none;
            }
            p {
                color: #ffffff;
                margin: 0.5rem;
                font-size: 1.1rem;
                font-weight: 300;
                width: 160px;
                text-align: center;
            }
            button {
                border: solid 0.1rem #ffffff;
                background-color: transparent;
                border-radius: 20px;
                width: 5rem;
                height: 1.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    color: #ffffff;
                    font-size: 0.7rem;
                    text-decoration: none;
                }
            }
            button:hover {
                background-color: #ffffff;
                a {
                    color: #424040;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .footerContainer {
                display: none;
            }
            .dev {
                h6 {
                    color: #ffffff;
                    font-size: 0.7rem;
                    a {
                        color: #ffffff;
                        font-size: 0.7rem;
                    }
                }
                p {
                    margin: 0;
                    font-size: 0.7rem;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    #contact {
        .image {
            img {
                width: 450px;
            }
            .icons a {
                font-size: 2rem;
                padding: 0 0.5rem;
            }
        }
        .whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                color: #ffffff;
                margin: 1rem 0 0.5rem 0;
                font-size: 2rem;
                font-weight: 300;
                width: 320px;
                text-align: center;
            }
            button {
                border: solid 0.1rem #ffffff;
                background-color: transparent;
                border-radius: 20px;
                width: 8rem;
                height: 3rem;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
            button:hover {
                background-color: #ffffff;
                a {
                    color: #424040;
                }
            }
        }
        .footer {
            .footerContainer {
                display: none;
            }
            .dev {
                p {
                    color: #ffffff;
                    font-size: 1.4rem;
                }
                h6 {
                    color: #ffffff;
                    font-size: 1.4rem;
                    a {
                        color: #ffffff;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    #contact {
        flex-direction: row-reverse;
        justify-content: space-around;
        .image {
            img {
                width: 400px;
                margin-bottom: 5rem;
            }
            .icons {
                display: none;
            }
        }
        .whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text {
                display: flex;
                h5 {
                    color: #ffffff;
                    text-align: left;
                    font-size: 1.5rem;
                    font-weight: 300;
                    margin: 0;
                    width: 470px;
                    span{
                        font-size: 2.8rem;
                        font-weight: 300;
                    }
                }
            }
            p {
                color: #ffffff;
                margin: 0 0 0.5rem 0;
                font-size: 1.2rem;
                font-weight: 300;
                width: 240px;
                text-align: center;
            }
            button {
                border: solid 0.1rem #ffffff;
                background-color: #ffffff00;
                border-radius: 20px;
                width: 6.5rem;
                height: 2rem;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 0.8rem;
                    padding: 0.5rem 1rem;
                }
            }
            button:hover {
                background-color: #ffffff;
                a {
                    color: #686868;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #00000054;
            .footerContainer {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .contactHour {
                    margin: 1.5rem 0 0 0;
                    .hours {
                        h6 {
                            font-size: 1rem;
                            color: #ffffff;
                            margin: 0 0 0.5rem 0;
                        }
                        p {
                            font-size: 0.8rem;
                            color: #ffffff;
                        }
                    }
                    .contact {
                        display: block;
                        h6 {
                            margin: 0.5rem 0;
                            color: #ffffff;
                            font-size: 1rem;
                        }
                        a {
                            font-size: 0.8rem;
                            color: #ffffff;
                        }
                    }
                }
                .address {
                    display: block;
                    margin: 1.5rem 0 0 0;
                    h6 {
                        margin: 0;
                        color: #ffffff;
                        font-size: 1rem;
                    }
                    p {
                        color: #ffffff;
                        font-size: 0.8rem;
                        margin: 0.5rem 0;
                    }
                }
                .social {
                    display: flex;
                    flex-direction: column;
                    margin: 1.5rem 0 0 0;
                    h6 {
                        margin: 0 0 0.5rem;
                        color: #ffffff;
                        font-size: 1rem;
                    }
                    a {
                        color: #ffffff;
                        font-size: 1rem;
                        text-align: right;
                        
                    }
                    a:hover {
                        color: #9eddfa;
                        
                    }
                }
            }
            .dev {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 0.7rem;
                }
                h6 {
                    color: #ffffff;
                    font-size: 0.7rem;
                    a {
                        color: #ffffff;
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 1440px) {
    #contact {
        .image {
            img {
                width: 500px;
                margin-bottom: 12rem;
            }
        }
        .whatsapp {
            .text {
                h5 {
                    color: #ffffff;
                    margin: 1rem 0 0.5rem 0;
                    font-size: 1.8rem;
                    font-weight: 300;
                    width: 510px;
                    margin: 0;
                    span {
                        font-size: 3rem;
                        font-weight: 300;
                    }
                }
            }
            p {
                font-size: 1.4rem;
                margin: 0;
                width: 300px;
            }
            button {
                border: solid 0.1rem #ffffff;
                background-color: #ffffff00;
                border-radius: 20px;
                width: 7rem;
                height: 2.2rem;
                margin-top: 0.5rem;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 0.9rem;
                    padding: 0.5rem 1rem;
                }
            }
            button:hover {
                background-color: #ffffff;
                a {
                    color: #686868;
                }
            }
        }
        .footer {
            .footerContainer {
                .contactHour {
                    margin: 1.5rem 0 0 0;
                    .hours {
                        h6 {
                            font-size: 1rem;
                            color: #ffffff;
                            margin: 0 0 0.5rem 0;
                        }
                        p {
                            font-size: 0.8rem;
                            font-weight: 300;
                            color: #ffffff;
                        }
                    }
                    .contact {
                        display: block;
                        h6 {
                            margin: 0.5rem 0;
                            color: #ffffff;
                            font-size: 1rem;
                        }
                        a {
                            font-size: 0.8rem;
                            font-weight: 300;
                            color: #ffffff;
                        }
                    }
                }
                .address {
                    display: block;
                    margin: 1.5rem 0 0 0;
                    h6 {
                        margin: 0;
                        color: #ffffff;
                        font-size: 1rem;
                    }
                    p {
                        color: #ffffff;
                        font-size: 0.8rem;
                        font-weight: 300;
                        margin: 0.5rem 0;
                    }
                }
                .social {
                    display: flex;
                    flex-direction: column;
                    margin: 1.5rem 0 0 0;
                    h6 {
                        margin: 0 0 0.5rem 0;
                        color: #ffffff;
                        font-size: 1rem;
                    }
                    a {
                        color: #ffffff;
                        text-align: right;
                        font-size: 0.8rem;
                        
                    }
                    a:hover {
                        color: #9eddfa;
                        
                    }
                }
            }
            .dev {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 0.8rem;
                }
                h6 {
                    color: #ffffff;
                    font-size: 0.7rem;
                    font-weight: 300;
                    a {
                        color: #ffffff;
                        font-size: 0.7rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
@media (min-width: 1920px) {
    #contact {
        .image {
            img {
                width: 750px;
                margin-bottom: 5rem;
            }
        }
        .whatsapp {
            .text {
                h5 {
                    color: #ffffff;
                    margin: 1rem 0 0.5rem 0;
                    font-size: 2.5rem;
                    font-weight: 300;
                    width: 700px;
                    margin: 0;
                    span {
                        font-size: 4rem;
                    }
                }
            }
            p {
                font-size: 2.2rem;
                margin: 0;
                width: 500px;
            }
            button {
                border: solid 0.1rem #ffffff;
                background-color: #ffffff00;
                border-radius: 20px;
                width: 9rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 1.2rem;
                    padding: 0.5rem 1rem;
                }
            }
            button:hover {
                background-color: #ffffff;
                a {
                    color: #686868;
                }
            }
        }
        .footer {
            .footerContainer {
                .contactHour {
                    margin: 1.5rem 0 0 0;
                    .hours {
                        h6 {
                            font-size: 1.5rem;
                            color: #ffffff;
                            margin: 0 0 0.5rem 0;
                        }
                        p {
                            font-size: 1.2rem;
                            font-weight: 300;
                            color: #ffffff;
                        }
                    }
                    .contact {
                        display: block;
                        h6 {
                            margin: 0.5rem 0;
                            color: #ffffff;
                            font-size: 1.5rem;
                        }
                        a {
                            font-size: 1.2rem;
                            font-weight: 300;
                            color: #ffffff;
                        }
                    }
                }
                .address {
                    display: block;
                    margin: 1.5rem 0 0 0;
                    h6 {
                        margin: 0;
                        color: #ffffff;
                        font-size: 1.5rem;
                    }
                    p {
                        color: #ffffff;
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin: 0.5rem 0;
                    }
                }
                .social {
                    display: flex;
                    flex-direction: column;
                    margin: 1.5rem 0 0 0;
                    h6 {
                        margin: 0 0 0.5rem 0;
                        color: #ffffff;
                        font-size: 1.5rem;
                    }
                    a {
                        color: #ffffff;
                        text-align: right;
                        font-size: 1.5rem;
                        
                    }
                    a:hover {
                        color: #9eddfa;
                        
                    }
                }
            }
            .dev {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    font-size: 1rem;
                }
                h6 {
                    color: #ffffff;
                    font-size: 1rem;
                    font-weight: 300;
                    a {
                        color: #ffffff;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}