#contact {
    background-image: url('../../assets/backgrounds/Beckg2.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    position: relative;
    .contact-image {
        img {
            width: 260px;
        }
        .image-icons {
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;
            a {
                color: #ffffff;
                font-size: 1.3rem;
                padding: 0 0.3rem;
            }
        }
    }
    .contact-whatsapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .whatsapp-text {
            display: none;
        }
        p {
            color: #ffffff;
            margin: 0.5rem;
            font-size: 1rem;
            font-weight: 300;
            max-width: 160px;
            text-align: center;
        }
        button {
            border: solid 0.1rem #ffffff;
            background-color: #ffffff;
            border-radius: 5px;
            width: 5rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: #000000;
                font-size: 0.7rem;
                text-decoration: none;
                font-weight: 300;
            }
        }
        button:hover {
            background-color: #ffffff;
            a {
                color: #424040;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #contact {
        background-image: url('../../assets/backgrounds/Beckg2.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 850px;
        position: relative;
        .contact-image {
            img {
                width: 400px;
                margin-top: 5rem;
            }
            .image-icons {
                display: flex;
                justify-content: center;
                a {
                    color: #ffffff;
                    font-size: 2rem;
                    padding: 0 0.3rem;
                }
            }
        }
        .contact-whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .whatsapp-text {
                display: none;
            }
            p {
                color: #ffffff;
                margin: 0.5rem;
                font-size: 1.777rem;
                font-weight: 300;
                max-width: 240px;
                text-align: center;
            }
            button {
                background-color: #ffffff;
                border-radius: 5px;
                width: 8rem;
                height: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;
                a {
                    color: #000000;
                    font-size: 1.222rem;
                    text-decoration: none;
                    font-weight: 300;
                }
            }
            button:hover {
                background-color: #ffffff;
                a {
                    color: #424040;
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #contact {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 600px;
        .contact-image {
            img {
                width: 300px;

            }
            .image-icons {
                display: none;
            }
        }
        .contact-whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            .whatsapp-text {
                display: flex;
                width: 400px;
                h5 {
                    color: #ffffff;
                    text-align: left;
                    font-size: 1.666rem;
                    font-weight: 300;
                    margin: 0;
                    width: 400px;
                    text-shadow: 1px 1px 1px #000000;
                    span{
                        font-size: 2.369rem;
                        font-weight: 300;
                        text-shadow: 1px 1px 3px #000000;
                    }
                }
            }
            p {
                color: #ffffff;
                text-shadow: 1px 1px 1px #000000;
                margin: 1rem 0 1rem 0;
                font-size: 1.333rem;
                font-weight: 300;
                max-width: 240px;
                text-align: center;
            }
            button {
                background-color: #ffffff;
                box-shadow: 1px 1px #000000;
                border-radius: 10px;
                width: 7rem;
                height: 2.5rem;
                a {
                    color: #000000;
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 0;
                }
            }
            button:hover {
                background-color: #b8b8b8;
                a {
                    color: #000000;
                }
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #contact {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 600px;
        .contact-image {
            img {
                width: 350px;

            }
            .image-icons {
                display: none;
            }
        }
        .contact-whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            .whatsapp-text {
                display: flex;
                width: 400px;
                h5 {
                    color: #ffffff;
                    text-align: left;
                    font-size: 1.666rem;
                    font-weight: 300;
                    margin: 0;
                    width: 570px;
                    text-shadow: 1px 1px 1px #000000;
                    span{
                        font-size: 2.369rem;
                        font-weight: 300;
                        text-shadow: 1px 1px 3px #000000;
                    }
                }
            }
            p {
                color: #ffffff;
                text-shadow: 1px 1px 1px #000000;
                margin: 1rem 0 1rem 0;
                font-size: 1.333rem;
                font-weight: 300;
                max-width: 240px;
                text-align: center;
            }
            button {
                background-color: #ffffff;
                box-shadow: 1px 1px #000000;
                border-radius: 10px;
                width: 7rem;
                height: 2.5rem;
                a {
                    color: #000000;
                    text-decoration: none;
                    font-size: 1rem;
                    padding: 0;
                }
            }
            button:hover {
                background-color: #b8b8b8;
                a {
                    color: #000000;
                }
            }
        }
    }
}
@media (min-width: 1441px) {
    #contact {
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 600px;
        .contact-image {
            img {
                width: 450px;

            }
            .image-icons {
                display: none;
            }
        }
        .contact-whatsapp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 530px;
            .whatsapp-text {
                display: flex;
                width: 530px;
                h5 {
                    color: #ffffff;
                    text-align: left;
                    font-size: 2.333rem;
                    font-weight: 300;
                    margin: 0;
                    width: 720px;
                    text-shadow: 1px 1px 1px #000000;
                    span{
                        font-size: 3.157rem;
                        font-weight: 300;
                        text-shadow: 1px 1px 3px #000000;
                    }
                }
            }
            p {
                color: #ffffff;
                text-shadow: 1px 1px 1px #000000;
                margin: 1rem 0 1rem 0;
                font-size: 1.888rem;
                font-weight: 300;
                max-width: 416px;
                text-align: center;
            }
            button {
                background-color: #ffffff;
                box-shadow: 1px 1px #000000;
                border-radius: 10px;
                width: 9rem;
                height: 3rem;
                a {
                    color: #000000;
                    text-decoration: none;
                    font-size: 1.333rem;
                    padding: 0;
                }
            }
            button:hover {
                background-color: #b8b8b8;
                a {
                    color: #000000;
                }
            }
        }
    }
}