#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/backgrounds/Backg1.png');
    .RV {
        width: 60px;
        height: 60px;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
    .imageContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 1rem;
        .text {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #00000041;
            width: 100%;
            padding: 1rem 0.5rem 1rem 1rem;
            z-index: 1;
            h2 {
                color: #e7e7e7;
                font-size: 1rem;
                font-weight: 300;
                width: 270px;
                margin: 0;
                span {
                    font-size: 2rem;
                    font-weight: 300;
                }
            }
            .pButton {
                display: flex;
                align-items: center;
                p {
                    color: #e7e7e7;
                    margin: 0;
                    font-size: 0.8rem;
                }
                button {
                    margin-left: 0.5rem;
                    width: 5rem;
                    height: 1.5rem;
                    background-color: #754d44;
                    border-radius: 20px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        font-size: 0.6rem;
                        color: #e7e7e7;
                        text-decoration: none;
                    }
                }
            }
        }
        #Photo{
            position: relative;
            width: 100%;
            margin: 2rem 0 0 0;
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #home {
        .RV {
            width: 80px;
            height: 80px;
            margin-top: 0.5rem;
            margin-bottom: 2.5rem;
        }
        .imageContainer {
            margin-top: 2rem;
            .text {
                width: 100%;
                padding: 1rem 0.5rem 1rem 1rem;
                z-index: 1;
                h2 {
                    color: #e7e7e7;
                    font-size: 1.5rem;
                    font-weight: 300;
                    width: 470px;
                    margin: 0;
                    span {
                        font-size: 3.2rem;
                        font-weight: 300;
                    }
                }
                .pButton {
                    display: flex;
                    align-items: center;
                    p {
                        color: #e7e7e7;
                        margin: 0;
                        font-size: 1.2rem;
                    }
                    button {
                        margin-left: 0.5rem;
                        width: 6rem;
                        height: 1.5rem;
                        background-color: #754d44;
                        border-radius: 20px;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a {
                            font-size: 0.8rem;
                            color: #e7e7e7;
                            text-decoration: none;
                        }
                    }
                }
            }
            #Photo{
                position: relative;
                width: 100%;
                margin: 1rem 0 0 0;
            }
        }
    }
}
@media (min-width: 768px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        .RV {
            height: 115px;
            width: 115px;
            margin-bottom: 3rem;
        }
        .imageContainer {
            margin-top: 3rem;
            .text {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #00000041;
                width: 100%;
                padding: 2rem 3rem;
                z-index: 1;
                h2 {
                    color: #e7e7e7;
                    font-size: 2.5rem;
                    font-weight: 300;
                    width: 600px;
                    span {
                        font-size: 4.5rem;
                        font-weight: 300;
                    }
                }
                .pButton {
                    display: flex;
                    align-items: center;
                    p {
                        color: #e7e7e7;
                        font-size: 1.5rem;
                        font-weight: lighter;
                    }
                    button {
                        margin-left: 0.5rem;
                        width: 9.5rem;
                        height: 3rem;
                        background-color: #754d44;
                        border-radius: 20px;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        a {
                            font-size: 1.4rem;
                            color: #e7e7e7;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        .RV {
            display: none;
        }
        .imageContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-top: 8rem;
            padding: 2rem;
            .text {
                position: initial;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: transparent;
                width: 550px;
                margin: 10rem 2rem 0 0rem;
                h2 {
                    color: #000000;
                    font-size: 2rem;
                    font-weight: 300;
                    width: 550px;
                    span {
                        font-size: 4rem;
                        font-weight: 300;
                    }
                }
                .pButton {
                    display: flex;
                    align-items: center;
                    p {
                        color: #000000;
                        font-size: 1rem;
                    }
                    button {
                        margin-left: 0.5rem;
                        width: 6.5rem;
                        height: 2.2rem;
                        background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
                        border-radius: 20px;
                        border: none;
                        a {
                            font-size: 0.9rem;
                            color: #ffffff;
                            text-decoration: none;
                        }
                    }
                }
            }
            #Photo{
                width: 450px;
                border-radius: 20px;
                margin: 2rem 3rem 0 2rem;
            }
        }
    }
}
@media (min-width: 1440px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        height: 1100px;
        .RV {
            display: none;
        }
        .imageContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-top: 4rem;
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                margin: 10rem 12rem 0 5rem;
                h2 {
                    font-size: 2.5rem;
                    font-weight: 300;
                    width: 650px;
                    span {
                        font-size: 4.5rem;
                        font-weight: 300;
                    }
                }
                .pButton {
                    display: flex;
                    align-items: center;
                    p {
                        color: #4b4b4b;
                        font-size: 1.5rem;
                    }
                    button {
                        margin-left: 0.5rem;
                        width: 8rem;
                        height: 3rem;
                        background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
                        border-radius: 20px;
                        border: none;
                        a {
                            color: #ffffff;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            #Photo{
                width: 600px;
                height: 800px;
                border-radius: 20px;
                margin: 2rem 3rem 0 2rem;
            }
        }
    }
}
@media (min-width: 1920px) {
    #home {
        height: 1450px;
        .imageContainer {
            margin-top: 5rem;
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 1000px;
                margin: 17rem 0 0 5rem;
                padding: 0;
                h2 {
                    font-size: 3rem;
                    font-weight: 300;
                    width: 1000px;
                    span {
                        font-size: 7rem;
                        font-weight: 300;
                    }
                }
                .pButton {
                    display: flex;
                    align-items: center;
                    p {
                        color: #4b4b4b;
                        font-size: 2rem;
                    }
                    button {
                        margin-left: 0.5rem;
                        width: 9rem;
                        height: 3.5rem;
                        background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
                        border-radius: 20px;
                        border: none;
                        a {
                            color: #ffffff;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            #Photo{
                width: 820px;
                height: 1000px;
            }
        }
    }
}