.default-button {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: #f7f7f7;
    color: #010101;
    border: solid .1rem #010101;
    border-radius: .3rem;
    font-size: .7rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .default-button {
        padding: 1rem 1.2rem;
        background-color: #f7f7f7;
        color: #010101;
        border-radius: .4rem;
        font-size: 1rem;
    }
}