.loading-icon {
    font-size: 3rem;
    color: #434343cc;
    animation: loading 1s ease-in-out infinite;
};

@media (min-width: 768px) {
    .loading-icon {
        font-size: 4rem;
    };
};

@keyframes loading {
    0% {
        transform: rotate(90deg);
    };
    100% {
        transform: rotate(450deg);
    };
};