#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 4rem;
    background-image: url("../../assets/backgrounds/Backg1.png");
    img {
        width: 230px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #banner{
        height: 15rem;
        img {
            width: 350px;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        padding: 0;
        background-image: url("../../assets/backgrounds/Backg1.png");
        img {
            width: 320px;
        }
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #banner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 220px;
        padding: 0;
        background-image: url("../../assets/backgrounds/Backg1.png");
        img {
            width: 420px;
        }
    }
}
@media (min-width: 1441px) {
    #banner{
        height: 350px;
        img {
            width: 550px;
        }
    }
}