#localization {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/backgrounds/Backg1.png');
    height: 800px;
    h3 {
        color: #000000;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 8rem;
    }
    .localization-iframe {
        display: flex;
        flex-direction: column;
        align-items: center;
        .iframe-container {
            width: 272px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
            margin-bottom: 2rem;
            .iframe {
                height: 170px;
                width: 272px;
                border: none;
                z-index: 0;
                border-radius: 20px;
            }
        }
        .iframe-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 0 2rem 0;
            p {
                margin: 1.5rem 1rem 0 1rem;
                font-size: 0.9rem;
                font-weight: 300;
                max-width: 272px;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #localization {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        height: 1000px;
        h3 {
            color: #000000;
            font-size: 3rem;
            font-weight: 300;
            margin-top: 14rem;
        }
        .localization-iframe {
            display: flex;
            flex-direction: column;
            align-items: center;
            .iframe-container {
                width: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;
                margin-bottom: 2rem;
                .iframe {
                    height: 300px;
                    width: 400px;
                    border: none;
                    z-index: 0;
                    border-radius: 20px;
                }
            }
            .iframe-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0 0 2rem 0;
                p {
                    margin: 1.5rem 1rem 0 1rem;
                    font-size: 1.2rem;
                    font-weight: 300;
                    max-width: 400px;
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #localization {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        height: 1150px;
        h3 {
            color: #000000;
            font-size: 2.8rem;
            font-weight: 300;
            margin-top: 10rem;
        }
        .localization-iframe {
            display: flex;
            flex-direction: column;
            align-items: center;
            .iframe-container {
                width: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;
                margin-bottom: 3rem;
                .iframe {
                    height: 350px;
                    width: 600px;
                    border: none;
                    z-index: 0;
                    border-radius: 25px;
                }
            }
            .iframe-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                p {
                    margin: 2rem 1rem 0rem 1rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    max-width: 600px;
                }
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #localization {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        height: 1150px;
        h3 {
            color: #000000;
            font-size: 2.8rem;
            font-weight: 300;
            margin-top: 10rem;
        }
        .localization-iframe {
            display: flex;
            flex-direction: column;
            align-items: center;
            .iframe-container {
                width: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;
                margin-bottom: 3rem;
                .iframe {
                    height: 350px;
                    width: 600px;
                    border: none;
                    z-index: 0;
                    border-radius: 25px;
                }
            }
            .iframe-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                p {
                    margin: 2rem 1rem 0rem 1rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    max-width: 600px;
                }
            }
        }
    }
}
@media (min-width: 1441px) {
    #localization {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../assets/backgrounds/Backg1.png');
        height: 1500px;
        h3 {
            color: #000000;
            font-size: 2.8rem;
            font-weight: 300;
            margin-top: 15rem;
        }
        .localization-iframe {
            display: flex;
            flex-direction: column;
            align-items: center;
            .iframe-container {
                width: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10rem;
                margin-bottom: 3rem;
                .iframe {
                    height: 400px;
                    width: 700px;
                    border: none;
                    z-index: 0;
                    border-radius: 25px;
                }
            }
            .iframe-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                p {
                    margin: 2rem 1rem 0rem 1rem;
                    font-size: 2.2rem;
                    font-weight: 300;
                    max-width: 640px;
                }
            }
        }
    }
}