#navbar{
    position: fixed;
    z-index: 2;
    .navbar-desktop {
        display: none;
    }
    .navbar-mobile {
        width: 100%;
        .navbar-mobile-header {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            height: 3.75rem;
            background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
            .header-logo {
                margin-left: 1.2rem;
                height: 40px;
                width: 45px;
            }
            .header-menu-button {
                background-color: transparent;
                border: none;
                .header-menu-button-icon {
                    margin: 0 1.2rem;
                    color: #ffffff;
                    font-size: 28px;
                }
            }
        }
        .navbar-mobile-menu {
            position: absolute;
            top: 0;
            height: 100vh;
            width: 100vw;
            background-color: #00000070;
            z-index: 2;
            visibility: hidden;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-start;
            .menu-close-button {
                background-color: transparent;
                border: none;
                .menu-button-icon {
                    margin: 1rem 1.2rem 0 0;
                    color: #ffffff;
                    font-size: 28px;
                }
            }
            .menu-session {
                height: 100vh;
                width: 260px;
                background-image: url("../../assets/backgrounds/Backg1.png");
                overflow-y: auto;
                .menu-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 1rem 0 0 2rem;
                    h2 {
                        font-size: 1.777rem;
                        font-weight: 300;
                    }
                }
                .menu-itens {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 1rem;
                    li {
                        list-style: none;
                        margin: 1.5rem 0 1.5rem 2rem;
                        width: calc(100% - 2rem);
                        border-bottom: solid 0.1rem #a9a9a9;
                        a {
                            color: #000000;
                            font-size: 1.333rem;
                            text-decoration: none;
                            font-weight: 300;
                            margin-left: 0.5rem;
                        }
                        .dropdown-button-mobile {
                            display: flex;
                            justify-content: space-between;
                            width: 90%;
                            border: none;
                            background-color: transparent;
                            color: #000000;
                            font-size: 1.333rem;
                            text-decoration: none;
                            font-weight: 300;
                            margin-left: 0.5rem;
                            .arrow-dropdown {
                                transform: rotate(0.25turn);
                            }
                        }
                        .dropdown-content-mobile {
                            display: none;
                            flex-direction: column;
                            margin: 0.5rem 0;
                            a {
                                margin: 0.8rem 0 0 1rem;
                                font-size: 1rem;
                            }
                        }
                    }
                }
                .buttons {
                    margin: 5rem 0 0 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .login {
                        padding: 0.5rem;
                        border-radius: 10px;
                        font-size: 1rem;
                        font-weight: 300;
                        background-color: transparent;
                        margin-bottom: 1rem;
                        width: 220px;
                    }
                    .register {
                        padding: 0.5rem;
                        border-radius: 10px;
                        font-size: 1rem;
                        font-weight: 300;
                        background-color: #ffffff;
                        border: none;
                        margin-bottom: 6rem;
                        width: 220px;
                    }
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #navbar{
        .navbar-mobile {
            .navbar-mobile-header {
                height: 7rem;
                .header-logo {
                    margin-left: 2rem;
                    width: 80px;
                    height: 75px;
                }
                .header-menu-button .header-menu-button-icon {
                    margin: 0 2rem;
                    font-size: 4rem;
                }
            }
            .navbar-mobile-menu {
                height: 100vh;
                width: 100vw;
                .menu-close-button .menu-button-icon {  
                    font-size: 4rem;
                    margin: 1.5rem 2rem 0 0;
                }
                .menu-session {
                    width: 355px;
                    overflow-x: hidden;
                    .menu-header h2 {
                        font-size: 2.369rem;
                        margin: 1.5rem 2rem 0 0;
                    }
                    .menu-itens {
                        margin-top: 2rem;
                        li {
                            margin: 2rem 0 2rem 2rem;
                            a {
                                margin-left: 1rem;
                                font-size: 1.777rem;
                            }
                            .dropdown-button-mobile {
                                border: none;
                                background-color: transparent;
                                color: #000000;
                                font-size: 1.777rem;
                                text-decoration: none;
                                font-weight: 300;
                                margin-left: 1rem;
                            }
                            .dropdown-content-mobile {
                                display: none;
                                flex-direction: column;
                                margin: 0.5rem 0;
                                a {
                                    margin: 1rem 0 0 2rem;
                                    font-size: 1.333rem;
                                }
                            }
                        }
                    }
                    .buttons {
                        margin: 5rem 2rem 4rem 0;
                        display: flex;
                        flex-direction: column;
                        .login {
                            padding: 0.5rem;
                            border-radius: 10px;
                            font-size: 1.333rem;
                            font-weight: 300;
                            background-color: transparent;
                            margin-bottom: 1rem;
                            width: 280px;
                            height: 3rem;
                        }
                        .register {
                            padding: 0.5rem;
                            border-radius: 10px;
                            font-size: 1.333rem;
                            font-weight: 300;
                            background-color: #ffffff;
                            border: none;
                            width: 280px;
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #navbar {
        .navbar-desktop {
            height: 5rem;
            width: 100vw;
            background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .navbar-dekstop-logo {
                width: 55px;
                height: 50px;
            }
            .navbar-desktop-elements {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 0.5rem;
                    list-style: none;  
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 1.222rem;
                        font-weight: 300;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    .dropdown-button-desktop {
                        position: relative;
                        display: inline-block;
                        background-color: transparent;
                        border: none;
                        font-size: 1.222rem;
                        font-weight: 300;
                        color: #ffffff;
                        cursor: pointer;
                    }
                    .dropdown-content-desktop {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding: 12px 16px;
                    z-index: 1;
                    a {
                        color: #000000;
                        font-size: 1.111rem;
                        padding: 0.5rem 1rem;
                    }
                    }
                    .dropdown:hover  {
                        text-decoration: underline;
                    }
    
                }
            }
            .navbar-desktop-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .login {
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    color: #ffffff;
                    border: solid 0.1rem #ffffff;
                    font-weight: 300;
                    background-color: transparent;
                    width: 100px;
                    margin-right: 1rem;
                }
                .register {
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    font-weight: 300;
                    background-color: #ffffff;
                    border: none;
                    width: 120px;
                }
            }
        }
        .navbar-mobile {
            display: none;
        }
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    #navbar {
        .navbar-desktop {
            height: 5rem;
            width: 100vw;
            background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .navbar-dekstop-logo {
                width: 55px;
                height: 50px;
            }
            .navbar-desktop-elements {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 1rem;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 1.333rem;
                        font-weight: 300;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    .dropdown-button-desktop {
                        position: relative;
                        display: inline-block;
                        background-color: transparent;
                        border: none;
                        font-size: 1.333rem;
                        font-weight: 300;
                        color: #ffffff;
                        cursor: pointer;
                    }
                    .dropdown-content-desktop {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding: 12px 16px;
                    z-index: 1;
                    a {
                        color: #000000;
                        padding: 0.5rem 1rem;
                    }
                    }
                    .dropdown:hover  {
                        text-decoration: underline;
                    }
    
                }
            }
            .navbar-desktop-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .login {
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    color: #ffffff;
                    border: solid 0.1rem #ffffff;
                    font-weight: 300;
                    background-color: transparent;
                    width: 100px;
                    margin-right: 1rem;
                }
                .register {
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    font-weight: 300;
                    background-color: #ffffff;
                    border: none;
                    width: 120px;
                }
            }
        }
        .navbar-mobile {
            display: none;
        }
    }
}
@media (min-width: 1441px){
    #navbar {
        .navbar-desktop {
            height: 6rem;
            width: 100vw;
            background-image: url("../../assets/backgrounds/navbar/BackNavbar.png");
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .navbar-dekstop-logo {
                width: 75px;
                height: 70px;
            }
            .navbar-desktop-elements {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 1rem;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 1.777rem;
                        font-weight: 300;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    .dropdown-button-desktop {
                        position: relative;
                        display: inline-block;
                        background-color: transparent;
                        border: none;
                        font-size: 1.777rem;
                        font-weight: 300;
                        color: #ffffff;
                        cursor: pointer;
                    }
                    .dropdown-button-desktop:hover {
                        text-decoration: underline;
                    }
                    .dropdown-content-desktop {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding: 0.5rem;
                    z-index: 1;
                    a {
                        color: #000000;
                        font-size: 1.333rem;
                        padding: 0.5rem 1rem;
                    }
                    }
    
                }
            }
            .navbar-desktop-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .login {
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1.333rem;
                    color: #ffffff;
                    border: solid 0.1rem #ffffff;
                    font-weight: 300;
                    background-color: transparent;
                    width: 100px;
                    margin-right: 2rem;
                }
                .register {
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1.333rem;
                    font-weight: 300;
                    background-color: #ffffff;
                    border: none;
                    width: 140px;
                }
            }
        }
        .navbar-mobile {
            display: none;
        }
    }
}