#carousel {
    background-image: url('../../../assets/backgrounds/Backg1.png');
    height: 740px;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            color: #000000;
            font-size: 1rem;
            margin-top: 2rem;
            margin-bottom: 6rem;
        }
    }
    .carousel {
        cursor: grab;
        overflow: hidden;
        background-image: url('../../../assets/backgrounds/Backg1.png');
        .inner-carousel {
            display: flex;
            .item {
                min-height: 15rem;
                min-width: 15rem;
                padding: 20px;
                margin-top: 2rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    pointer-events: none;
                }
            }
        }
    }
    .instagram {
        
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            h4 {
                color: #1f1f1f;
                font-size: 0.8rem;
                font-weight: 300;
                text-align: center;
                width: 14rem;
            }
            p {
                color: #1f1f1f;
                font-size: 0.8rem;
                font-weight: 300;
                text-decoration: none;
                margin: 0.5rem 0;
            }
            .icon {
                color: #1f1f1f;
                font-size: 1rem;
                border: solid 0.1rem #ffffff;
                background-color: transparent;
                margin: 0rem;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    #carousel {
        background-image: url('../../../assets/backgrounds/Backg1.png');
        height: 760px;
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
                color: #000000;
                font-size: 1.6rem;
                margin-top: 3rem;
                margin-bottom: 6rem;
            }
        }
        .carousel {
            cursor: grab;
            overflow: hidden;
            background-image: url('../../../assets/backgrounds/Backg1.png');
            .inner-carousel {
                display: flex;
                .item {
                    min-height: 15rem;
                    min-width: 15rem;
                    padding: 20px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        pointer-events: none;
                    }
                }
            }
        }
        .instagram {
            
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                h4 {
                    color: #1f1f1f;
                    font-size: 0.8rem;
                    text-align: center;
                    width: 14rem;
                }
                p {
                    color: #1f1f1f;
                    font-size: 0.8rem;
                    text-decoration: underline;
                    margin-bottom: 0.5rem;
                }
                .icon {
                    color: #1f1f1f;
                    font-size: 1rem;
                    border: solid 0.1rem #ffffff;
                    background-color: transparent;
                    margin: 0rem;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    #carousel {
        height: 1200px;
        .title {
            h3 {
                color: #000000;
                font-size: 3rem;
                font-weight: 300;
                margin-top: 3rem;
                margin-bottom: 9rem;
            } 
        }
        .carousel .inner-carousel .item {
            min-height: 25rem;
            min-width: 25rem;
            padding: 20px;
            margin-top: 4rem;
        }
        .instagram {
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                h4 {
                    color: #1f1f1f;
                    font-size: 1.5rem;
                    font-weight: 300;
                    width: 30rem;
                    text-align: center;
                }
                p {
                    color: #1f1f1f;
                    font-size: 1.2rem;
                    font-weight: 300;
                    text-decoration: none;
                }
                .icon {
                    color: #1f1f1f;
                    font-size: 1.5rem;
                    border: solid 0.1rem #ffffff;
                    margin: 0.5rem;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    #carousel {
        height: 800px;
        .title h3 {
            margin-top: 7rem;
            margin-bottom: 3rem;
        }
        .carousel .inner-carousel .item {
            min-height: 20rem;
            min-width: 20rem;
            padding: 20px;
            margin-top: 0;
        }
        .instagram a {
            h4 {
                color: #1f1f1f;
                font-size: 1rem;
                font-weight: 300;
                width: 22rem;
                text-align: center;
                margin-top: 1rem;
            }
            p {
                font-size: 0.8rem;
                margin: 0.5rem 0;
                font-weight: 300;
            }
            .icon {
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}
@media (min-width: 1440px) {
    #carousel {
        height: 1100px;
        .title h3 {
            margin: 8rem 0;
        }
        .carousel .inner-carousel .item {
            min-height: 25rem;
            min-width: 25rem;
            padding: 20px;
            margin-top: 0;
        }
        .instagram a {
            h4 {
                color: #1f1f1f;
                font-size: 1.5rem;
                font-weight: 300;
                width: 32rem;
                text-align: center;
                margin-top: 1rem;
            }
            p {
                font-size: 1.2rem;
                font-weight: 300;
            }
            .icon {
                font-size: 1.2rem;
                margin: 0;

            }
        }
    }
}
@media (min-width: 1920px) {
    #carousel {
        height: 1440px;
        .title h3 {
            margin: 10rem 0;
        }
        .carousel .inner-carousel .item {
            min-height: 30rem;
            min-width: 30rem;
            padding: 20px;
            margin-top: 0;
        }
        .instagram a {
            h4 {
                color: #1f1f1f;
                font-size: 1.8rem;
                width: 35rem;
                text-align: center;
                margin-top: 1rem;
                font-weight: 300;
            }
            p {
                margin: 0.5rem 0;
                font-size: 1.5rem;
                font-weight: 300;
            }
            .icon {
                font-size: 1.8rem;
                margin: 0;

            }
        }
    }
}